@value boxShadow: #e1e6ee;

.full-page {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 10px boxShadow;
  background-color: white;
  text-align: left;
  overflow: hidden;
}

.thead {
  box-shadow: 0 5px 10px boxShadow;
}

.th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

.td {
  padding: 0.5rem 1.5rem;
}

.tr:nth-child(even) {
  background-color: #f4f6fb;
}

.market-place-link {
  font-weight: bold;
}

.market-place-link:hover {
  cursor: pointer;
}

.content-border-background {
  background-color: #e3e5ee;
  padding: 0.4rem;
  border-radius: 10px;
  margin: 10px;
}

.content-flex-container {
  display: inline-block;
}

.hidden-tr {
  visibility: hidden;
  display: none;
}
